.google-logo {
    width: 100px;
    height: 92px;
    text-align: center;
    padding-top: 300px;
    max-height: 400px;
    position: center;
    height: auto;
    width: 300px;
    padding-left: 30px;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;

}
.container {
    margin: 0 auto;
    max-width: 584px;

}
.container {
    border-radius: 22px;
    box-sizing: border-box;
    font-size: 16px;
    height: var(--searchbox-height);
    opacity: 1;
    position: relative;
    transition: none;
}
